<div class="container">
  <h1>Reviewers</h1>
  <% @users.each do |user| %>
    <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%=  link_to user_path(user) do %>
          <i class="fa fa-user pull-right"></i>
        <% end %>
        <h3 class="panel-title"><%= user.username %></h3>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <%= image_tag user.avatar_url, id: 'avatar' %>
        </div>
        <div class="col-md-8 text-center">
          <p><i><%= user.bio %></i></p>
        </div>
        </div>
    </div>
  </div>
  <% end %>


</div>
